
* {
    margin: 0;
    outline: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #760ddf ;
}
.content {
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.space {
    margin: 3em;
    height: 80%;
}

.left {
    width: 40%;
    height: 100%;
    background-color: #760ddf ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header a {
    margin-right: 4em;
    text-decoration: none;
    border-bottom: .3em solid #2ECC71;
    padding: .3em 1em;
    color: #fff;
}
.wrapper-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper-input {
  width: 30em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: .6em;
  margin-bottom: 3em;
}

.wrapper-input input{
  background-color: transparent;
  border: 0;
  margin-left: 1em;
  width: 90%;
  color: #fff;
}

.wrapper-input input::placeholder{
  color: #ccc;
}

.icon-input {
  width: 1.4em;
  height: 1.4em;
  padding: 0 .3em;
}

@media (max-width: 800px) {
.content {
  width: 100%;
 }
  .left {
    width: 100%;
  }
  .wrapper-input {
    width: 100%;
    display: flex;
  }
  .wrapper-input input{
    margin-left: 0em;
    width: 100%;
    color: #fff;
  }
  .space {
    margin: .5em;
}
}

.header a:hover {
  transition: .5s;
  color: #2ECC71;
  border-bottom: .3em solid #fff;
}


button {
  width: 12em;
  height: 2.7em;
  border: 0;
  background-color: #2ECC71;
  color: #fff;
  border-radius: .4em;

}
.footer a {
  margin-right: 2em;
  color: #fff;
  text-decoration: none;
}


.footer a:hover {
  transition: .5s;
  color: #2ECC71;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.right {
    width: 60%;
    height: 100vh;
    background-color: #25292C;


}

@media (max-width: 800px) {
  .right {
    display: none;
  }
}
.space-right {
  margin: 7em 6em;
}
.title {
  font-size: 5em;
  color: #ccc;
}

.container-lines {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  margin: 5em 0;
}

.line {
  width: 100%;
}

.lineSmall {
  width: 13em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 5em;
  height: 1.7em;
}

.lineMedium {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 25em;
  border-radius: 5em;
  height: 1.7em;
}


.lineMediumX {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 20em;
  border-radius: 5em;
  height: 1.7em;
}

.lineLarge {
  margin-bottom: 1em;
  width: 45em;
  border-radius: 5em;
  height: 1.7em;
}

.roxo {
  background-color: #760DDF;
}
.gray {
  background-color: #566573;
}
.grayX {
  background-color: #96A6B2;
}
.green {
  background-color: #2ECC71;
}